.vs/
.vscode/
out/
# thirdparty/
tests/cmakeTests/
tests/CMakeFiles/
CMakeSettings.json
frontend/CMakeFiles/
frontend/CMakeFiles/
.clangd/
CMakeFiles/
volePSI/CMakeFiles
CMakeCache.txt
.cache
/frontend/frontend
/volePSI/libvolePSI.a
/volePSI/Makefile
/volePSI/cmake_install.cmake
Mkaefile
findDependancies.cmake
preamble.cmake
volePSIConfig.cmake
volePSIConfigVersion.cmake
volePSITargets.cmake
.cmake/
# .clang-format
# .clang-tidy
~/