.vs/
.vscode/
out/
# thirdparty/
tests/cmakeTests/
tests/CMakeFiles/
CMakeSettings.json
frontend/CMakeFiles/
frontend/cmake_install.cmake
cmake_install.cmake
Makefile
compile_commands.json
.clangd/
CMakeFiles/
volePSI/CMakeFiles
CMakeCache.txt
.cache
/frontend/frontend
/volePSI/libvolePSI.a
/volePSI/Makefile
/volePSI/cmake_install.cmake
Mkaefile
findDependancies.cmake
preamble.cmake
volePSIConfig.cmake
volePSIConfigVersion.cmake
volePSITargets.cmake
.cmake/
miniMPSI/cmake_install.cmake
miniMPSI/Makefile
cPSI/Makefile
cPSI/cmake_install.cmake
cPSI/libcPSI.a
miniMPSI/libminiMPSI.a
# .clang-format
# .clang-tidy
~/