.vs/
.vscode/
out/
# thirdparty/
tests/cmakeTests/
tests/CMakeFiles/
CMakeSettings.json
frontend/CMakeFiles/
frontend/CMakeFiles/
.clangd/
CMakeFiles/
volePSI/CMakeFiles
CMakeCache.txt
.cache
/frontend/frontend
/volePSI/libvolePSI.a
.cmake/
# .clang-format
# .clang-tidy
~/